html body {
	font-family: 'Helvetica', Arial, sans-serif;
	color: #111;
	background: #E7E7E7;
}

.section2 h1 {
	color:#009cef;
}

.section2 button {
	width:130px;
	height:50px;
	font-size:1.5em;

	border:4px solid #009cef;
	color:#009cef;
	background:transparent;

	margin-bottom:20px;
}

.section2 {
	background:#ffe0a0;
}

a {
	color: #0078A0;
}

.content {
	text-align: center;
	padding: 0 15% 20px;
}

.content h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}

.content form {
	padding: 10px;
	width: 300px;
	margin: 0 auto;
}

.content form input {
	width: 100%;
	border: 2px solid #107394;
	color: #107394;
	background: transparent;
	margin-bottom: 15px;
}

.content div {
	margin-bottom: 25px;
	padding: 10px;
	width: 100%;
}

.click {
	background: #ADD8E6;
}

.mouseover {
	background: #CF6E0E;
}

.submit {
	background: #43AC6A;
}

.timeout {
	background: #CCCCCC;
}